.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.major-div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2.5vh;
  margin-left: 5vw;
}

.major-div h1{
  font-size: 24px;
}

.div-flex{
  display: flex;
  width: 80vw;
}
.search-bar{
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  width: 50vw;
  height: 5vh;
}

.add-food-btn{
  margin-bottom: 2.5vh;
}

.added-food{
  margin-left: 4vw;;
}

.added-food h2{
  font-size: 20px;
}